{% extends "/base.html"%} {% block head %}
<title>Pago</title>{% endblock %} {% block content %}

<form action="">
    <div class="super_container mt-20">

        <!-- Header -->



        <!-- Menu -->



        <!-- Home -->

        <!-- <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../static/images/categories.jpg" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_container">
                        <div class="home_content">
                            <div class="home_title">Pagar</div>
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="../home">Inicio</a></li>
                                    <li><a href="">Representante X</a></li>
                                    <li>Registrar representante</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

        <!-- Checkout -->
        <div class="cart_container"></div>

        <div class="checkout">
            <div class="container">
                <div class="row">

                    <!-- Billing Details -->


                    <!-- Cart Details -->
                    {%if consulta1%}
                    <div class="col-lg-6 ">
                        <div class="cart_details">
                            <div class="checkout_title">Metodos de pago: {{consulta1}}</div>
                            {%endif%}
                            <!-- <div class="cart_total">
								<ul>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">Product</div>
										<div class="cart_total_price ml-auto">Total</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">2 Piece Swimsuit x1</div>
										<div class="cart_total_price ml-auto">$35.00</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">Subtotal</div>
										<div class="cart_total_price ml-auto">$35.00</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">Shipping</div>
										<div class="cart_total_price ml-auto">$5.00</div>
									</li>
									<li class="d-flex flex-row align-items-start justify-content-start total_row">
										<div class="cart_total_title">Total</div>
										<div class="cart_total_price ml-auto">$40.00</div>
									</li>
								</ul>
							</div> -->
                            <div class="payment_options">
                                {%if consulta2%} {%for i in consulta2%}
                                <div>
                                    <input value="Inactivo" type="radio" id="radio_payment_1" name="regular_radio" class="regular_radio">
                                    <label for="radio_payment_1">{{i}}</label>
                                </div>
                                {%endfor%} {%endif%}

                                <div>

                                    <div class="visa payment_option">
                                        <a href="#"><img src="../static/images/visa.jpg" alt=""></a>
                                    </div>
                                    <div class="master payment_option">
                                        <a href="#"><img src="../static/images/master.jpg" alt=""></a>
                                    </div>
                                </div>
                                <button class="cart_total_button">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}