<!DOCTYPE html>
<html>
<head>
	<title>Registrar</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_responsive.css') }}">
</head>

<body>

	<div class="super_container">
		
		<!-- Header -->

		<header class="header">
			<div class="header_inner d-flex flex-row align-items-center justify-content-start">
				<div class="logo">
					<a href="../home">NatAmE</a>
					<div class="logo_reggion">Region Andina</div>
				</div>

				<nav class="main_nav">
					<ul>
						<li><a href="../categories">Nutricion</a></li>
						<li><a href="../categories">Belleza</a></li>
						<li><a href="../categories">Hogar</a></li>
						<li><a href="../categories">Cuidado personal</a></li>
						<li><a href="../categories">Otros</a></li>
					</ul>
				</nav>
				<div class="header_content ml-auto">
					<div class="search header_search">
						<form action="#">
							<input type="search" class="search_input" required="required">
							<button type="submit" id="search_button" class="search_button"><img src="../static/images/magnifying-glass.svg" alt=""></button>
						</form>
					</div>
					<div class="shopping">
						<!-- Cart -->
						<a href="../shopcart">
							<div class="cart">
								<img src="../static/images/shopping-cart.svg" alt="">
								<div class="cart_num_container">
									<div class="cart_num_inner">
										<div class="cart_num">0</div>
									</div>
								</div>
							</div>
						</a>
						<!-- Bag -->
						<a href="../shopbag">
							<div class="bag">
								<img src="../static/images/shopping-bag.svg" alt="">
								<div class="bag_num_container">
									<div class="bag_num_inner">
										<div class="bag_num">0</div>
									</div>
								</div>
							</div>
						</a>
						<!-- Avatar -->
						<a href="../home">
							<div class="avatar">
								<img src="../static/images/avatar.svg" alt="">
							</div>
						</a>
					</div>
				</div>

				<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>
			</div>
		</header>

		<!-- Menu -->

		<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
			<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
			<div class="logo menu_mm"><a href="../home">NatAmE</a></div>
			<div class="search">
				<form action="#">
					<input type="search" class="search_input menu_mm" required="required">
					<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="../static/images/magnifying-glass.svg" alt=""></button>
				</form>
			</div>
			<nav class="menu_nav">
				<ul class="menu_mm">
					<li class="menu_mm"><a href="">Region Caribe</a></li>
					<li class="menu_mm"><a href="">Region Pacifica</a></li>
					<li class="menu_mm"><a href="">Region Andina</a></li>
					<li class="menu_mm"><a href="">Region Orinoquia</a></li>
					<li class="menu_mm"><a href="">Region Amazonica</a></li>
				</ul>
			</nav>
		</div>

		<!-- Home -->

		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="../static/images/categories.jpg" data-speed="0.8"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_container">
							<div class="home_content">
								<div class="home_title">Registar</div>
								<div class="breadcrumbs">
									<ul>
										<li><a href="../home">Inicio</a></li>
										<li><a href="">Representante X</a></li>
										<li>Registrar representante</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Checkout -->

		<div class="checkout">
			<div class="container">
				<div class="row">

					<!-- Billing Details -->
					<div class="col-lg-6">
						<div class="billing">
							<div class="checkout_title">Datos de representante</div>
							<div class="checkout_form_container">
								<form action="#" id="checkout_form">
									<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
										<input type="text" class="checkout_input checkout_input_50" placeholder="Nombres" required="required">
										<input type="text" class="checkout_input checkout_input_50" placeholder="Apellidos" required="required">
									</div>
									<input type="text" class="checkout_input" placeholder="Numero de identificacion">
									<input type="text" class="checkout_input" placeholder="E-mail" required="required">
									<select name="Genero" id="country" class="country_select checkout_input">
										<option>Masculino</option>
										<option>Femenino</option>
										<option>Otro</option>
									</select>
									<input type="text" class="checkout_input" placeholder="Direccion" required="required">
									<input type="text" class="checkout_input" placeholder="Regional" required="required">
									<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
										<input type="text" class="checkout_input checkout_input_50" placeholder="Fecha de nacimiento" required="required">
										<input type="text" class="checkout_input checkout_input_50" placeholder="Numero de telefono" required="required">
									</div>
									<textarea name="checkout_comment" id="checkout_comment" class="checkout_comment" placeholder="Observaciones"></textarea>
									<!-- <div class="billing_options">
										<div class="billing_account">
											<input type="checkbox" id="checkbox_account" name="regular_checkbox" class="regular_checkbox checkbox_account">
											<label for="checkbox_account"><img src="images/checked.png" alt=""></label>
											<span>Create an account</span>
										</div>
										<div class="billing_shipping">
											<input type="checkbox" id="checkbox_shipping" name="regular_checkbox" class="regular_checkbox checkbox_shipping">
											<label for="checkbox_shipping"><img src="images/checked.png" alt=""></label>
											<span>Ship to a different address</span>
										</div>
									</div> -->
								</form>
							</div>
						</div>
					</div>

					<!-- Cart Details -->
					<div class="col-lg-6">
						<div class="cart_details">
							<div class="checkout_title">Metodos de pago</div>
							<!-- <div class="cart_total">
								<ul>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">Product</div>
										<div class="cart_total_price ml-auto">Total</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">2 Piece Swimsuit x1</div>
										<div class="cart_total_price ml-auto">$35.00</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">Subtotal</div>
										<div class="cart_total_price ml-auto">$35.00</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_total_title">Shipping</div>
										<div class="cart_total_price ml-auto">$5.00</div>
									</li>
									<li class="d-flex flex-row align-items-start justify-content-start total_row">
										<div class="cart_total_title">Total</div>
										<div class="cart_total_price ml-auto">$40.00</div>
									</li>
								</ul>
							</div> -->
							<div class="payment_options">
								<div>
									<input type="radio" id="radio_payment_1" name="regular_radio" class="regular_radio">
									<label for="radio_payment_1">Efectivo</label>
								</div>
								<div>
									<input type="radio" id="radio_payment_2" name="regular_radio" class="regular_radio" checked>
									<label for="radio_payment_2">Paypal</label>
									<div class="visa payment_option"><a href="#"><img src="../static/images/visa.jpg" alt=""></a></div>
									<div class="master payment_option"><a href="#"><img src="../static/images/master.jpg" alt=""></a></div>
								</div>
								<button class="cart_total_button">Registrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/bootstrap4/popper.js"></script>
	<script src="../static/bootstrap4/bootstrap.min.js"></script>
	<script src="../static/plugins/easing/easing.js"></script>
	<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="../static/js/checkout_custom.js"></script>
</body>
</html>