<!DOCTYPE html>
<html>
<head>
	<title>Pedidos</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cart.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cart_responsive.css') }}">
</head>
<body>

	<div class="super_container">
		
		<!-- Header -->

		<header class="header">
			<div class="header_inner d-flex flex-row align-items-center justify-content-start">
				
				<div class="logo">
					<a href="../home">NatAmE</a>
					<div class="logo_reggion">Region Andina</div>
				</div>

				<nav class="main_nav">
					<ul>
						<li><a href="../categories">Nutricion</a></li>
						<li><a href="../categories">Belleza</a></li>
						<li><a href="../categories">Hogar</a></li>
						<li><a href="../categories">Cuidado personal</a></li>
						<li><a href="../categories">Otros</a></li>
					</ul>
				</nav>
				<div class="header_content ml-auto">
					<div class="search header_search">
						<form action="#">
							<input type="search" class="search_input" required="required">
							<button type="submit" id="search_button" class="search_button"><img src="../static/images/magnifying-glass.svg" alt=""></button>
						</form>
					</div>
					<div class="shopping">
						<!-- Cart -->
						<a href="../shopcart">
							<div class="cart">
								<img src="../static/images/shopping-cart.svg" alt="">
								<div class="cart_num_container">
									<div class="cart_num_inner">
										<div class="cart_num">0</div>
									</div>
								</div>
							</div>
						</a>
						<!-- Bag -->
						<a href="">
							<div class="bag">
								<img src="../static/images/shopping-bag.svg" alt="">
								<div class="bag_num_container">
									<div class="bag_num_inner">
										<div class="bag_num">0</div>
									</div>
								</div>
							</div>
						</a>
						<!-- Avatar -->
						<a href="../login">
							<div class="avatar">
								<img src="../static/images/avatar.svg" alt="">
							</div>
						</a>
					</div>
				</div>

				<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>
			</div>
		</header>

		<!-- Menu -->

		<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
			<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
			<div class="logo menu_mm"><a href="../home">NatAmE</a></div>
			<div class="search">
				<form action="#">
					<input type="search" class="search_input menu_mm" required="required">
					<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="../static/images/magnifying-glass.svg" alt=""></button>
				</form>
			</div>
			<nav class="menu_nav">
				<ul class="menu_mm">
					<li class="menu_mm"><a href="#">Region Caribe</a></li>
					<li class="menu_mm"><a href="#">Region Pacifica</a></li>
					<li class="menu_mm"><a href="#">Region Andina</a></li>
					<li class="menu_mm"><a href="#">Region Orinoquia</a></li>
					<li class="menu_mm"><a href="#">Region Amazonica</a></li>
				</ul>
			</nav>
		</div>

		<!-- Home -->

		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="../static/images/shop-bag.jpg" data-speed="0.8"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_container">
							<div class="home_content">
								<div class="home_title"></div>
								<!-- <div class="breadcrumbs">
									<ul>
										<li><a href="index.html">Inicio</a></li>
										<li>Carro de compras</li>
									</ul>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Cart -->

		<div class="cart_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_title">Tus pedidos</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
							<div class="cart_bar_title_name"># Pedido</div>
							<div class="cart_bar_title_content ml-auto">
								<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
									<div class="cart_bar_title_price">Valor</div>
									<div class="cart_bar_title_quantity">Estado</div>
									<div class="cart_bar_title_total">Ultima modificacion</div>
									<div class="cart_bar_title_button"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="cart_products">
							<ul>
								<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
									<!-- Product Image -->
									<!-- <div class="cart_product_image"><img src="images/cart_product_1.jpg" alt=""></div> -->
									<!-- Product Name -->
									<div class="cart_product_name"><a href="../product">970715</a></div>
									<div class="cart_product_info ml-auto">
										<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
											<!-- Product Price -->
											<div class="cart_product_price">$35.00</div>
											<!-- Product Quantity -->
											<div class="product_quantity_container">
												<!-- <div class="product_quantity clearfix">
													<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
													<div class="quantity_buttons">
														<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
														<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
													</div>
												</div> -->
												Entregado
											</div>
											<!-- Products Total Price -->
											<div class="cart_product_total">22/06/2021</div>
											<!-- Product Cart Trash Button -->
											<div class="cart_product_button">
												<button class="cart_product_remove"><img src="../static/images/lupa-detalle.svg" alt=""></button>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col">
						<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
							<button class="button_clear cart_button">Limpiar carro</button>
							<button class="button_update cart_button">Actualizar carro</button>
							<button class="button_update cart_button_2 ml-md-auto">Continuar compra</button>
						</div>
					</div>
				</div> -->
				<!-- <div class="row cart_extra"> -->
					<!-- Cart Coupon -->
					<!-- <div class="col-lg-6">
						<div class="cart_coupon">
							<div class="cart_title">coupon code</div>
							<form action="#" class="cart_coupon_form d-flex flex-row align-items-start justify-content-start" id="cart_coupon_form">
								<input type="text" class="cart_coupon_input" placeholder="Coupon code" required="required">
								<button class="button_clear cart_button_2">apply coupon</button>
							</form>
						</div>
					</div> -->
					<!-- Cart Total -->
					<!-- <div class="col-lg-5 offset-lg-1">
						<div class="cart_total">
							<div class="cart_title">Compra total</div>
							<ul>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Subtotal</div>
									<div class="cart_total_price ml-auto">$35.00</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Domicilio</div>
									<div class="cart_total_price ml-auto">$5.00</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Total</div>
									<div class="cart_total_price ml-auto">$40.00</div>
								</li>
							</ul>
							<button class="cart_total_button">Continuar al pago</button>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/bootstrap4/popper.js"></script>
	<script src="../static/bootstrap4/bootstrap.min.js"></script>
	<script src="../static/plugins/easing/easing.js"></script>
	<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="../static/js/cart_custom.js"></script>
</body>
</html>